{% extends "base.html" %}
{% block content %}
<p style="color:#0f172a;font-size:20px;font-weight:700;line-height:1.4;margin:0 0 8px 0;">Bienvenue sur GererSCI&nbsp;!</p>
<p style="color:#334155;font-size:16px;line-height:1.6;margin:0 0 24px 0;">Votre compte a bien &eacute;t&eacute; cr&eacute;&eacute; suite &agrave; votre souscription. Pour finaliser votre inscription et d&eacute;finir votre mot de passe, cliquez sur le bouton ci-dessous.</p>

<p style="color:#0f172a;font-size:15px;font-weight:600;margin:0 0 12px 0;">Pourquoi ce lien&nbsp;?</p>
<p style="color:#334155;font-size:14px;line-height:1.6;margin:0 0 24px 0;">Ce lien magique vous permet de vous connecter &agrave; tout moment, m&ecirc;me si vous n&rsquo;avez pas encore d&eacute;fini de mot de passe. Conservez cet email pr&eacute;cieusement&nbsp;!</p>

<p style="color:#334155;font-size:16px;line-height:1.6;margin:0 0 0 0;">Cliquez ci-dessous pour acc&eacute;der &agrave; votre espace&nbsp;:</p>
{% endblock %}
