{% extends "base.html" %}
{% block content %}
<p style="color:#374151;font-size:16px;line-height:1.6;">
  <strong>{{ inviter_nom }}</strong> vous a ajout&eacute; en tant que <strong>{{ role_label }}</strong> de la SCI <strong>{{ sci_nom }}</strong> sur GererSCI.
</p>
<p style="color:#374151;font-size:16px;line-height:1.6;">
  GererSCI est un outil de gestion pour les Soci&eacute;t&eacute;s Civiles Immobili&egrave;res. Vous pouvez d&egrave;s maintenant acc&eacute;der &agrave; votre espace pour consulter les informations de la SCI, suivre les loyers et les charges.
</p>
<p style="color:#374151;font-size:16px;line-height:1.6;">
  Cliquez sur le bouton ci-dessous pour vous connecter ou cr&eacute;er votre compte&nbsp;:
</p>
{% endblock %}
